<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
<table border="1" cellpadding="5">
    <thead>
    <tr>
        <th>Id</th>
        <th>Логин</th>
        <th>Возраст</th>
        <th>Роль</th>
        <th>Редактирование</th>
        <th>Удаление</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userData}">
        <td th:text="${user.id}" />
        <td th:text="${user.username}" />
        <td th:text="${user.age}" />
        <td>
            <span th:each="role : ${user.roles}">
                <span th:text="${role.name}" />
                <br/>
            </span>
        </td>
        <td>
            <form th:action="@{/admin/update}" method="get">
                <input type="hidden" name="id" th:value="${user.id}">
                <button type="submit">Изменить</button>
            </form>
        </td>
        <td>
            <form th:action="@{/admin/delete}" method="get">
                <input type="hidden" name="id" th:value="${user.id}">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<a th:href="@{/admin/add}"><button>Добавить пользователя</button></a>
<br/>
<br/>
<a th:href="@{/admin/drop}"><button>Очистить таблицу</button></a>
<br/>
<br/>
<a th:href="@{/logout}"><button>Выйти</button></a>
</body>
</html>