<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body class="bg-light">
<header class="bg-dark container-fluid text-white">
    <div class="row">
        <div class="col mt-2 ml-1">
            <h5 class="font-weight-light"><span class="font-weight-bold" th:text="${currentUser.username}"></span> с
                ролями: <span th:each="role : ${currentUser.roles}"><span th:text="${role.name}"/> </span></h5>
        </div>
        <div class="col text-right">
            <a role="button" class="mt-1 pt-1 mb-1 mr-n2 btn btn-outline-secondary bg-transparent border-0"
               th:href="@{/logout}">Выйти</a>
        </div>
    </div>
</header>
<div class="row container-fluid min-vh-100">
    <div class="col bg-white">
        <div class="nav flex-column nav-pills mt-3 mx-n3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin" role="tab"
               aria-controls="v-pills-admin" aria-selected="true">Администратор</a>
            <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
               aria-controls="v-pills-user" aria-selected="false">Пользователь</a>
        </div>
    </div>
    <div class="col-10">
        <div class="tab-content bg-white" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                 aria-labelledby="v-pills-admin-tab">
                <div class="container-fluid bg-light">
                    <h1 class="mt-2 mb-3">Панель управления</h1>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                               role="tab" aria-controls="nav-home" aria-selected="true">Таблица</a>
                            <a class="nav-item nav-link" id="nav-adduser-tab" data-toggle="tab" href="#nav-adduser"
                               role="tab" aria-controls="nav-adduser" aria-selected="false">Добавить</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mt-1 mb-1">Все пользователи</h5>
                                </div>
                                <div class="card-body container-fluid">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Логин</th>
                                            <th>Возраст</th>
                                            <th>Роль</th>
                                            <th>Редактирование</th>
                                            <th>Удаление</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${userData}">
                                            <td style="width: 15%" th:text="${user.id}"/>
                                            <td style="width: 15%" th:text="${user.username}"/>
                                            <td style="width: 15%" th:text="${user.age}"/>
                                            <td style="width: 20%">
                                            <span th:each="role : ${user.roles}">
                                                <span th:text="${role.name}"/>
                                                <br/>
                                            </span>
                                            </td>
                                            <td style="width: 20%">
                                                <form th:action="@{/admin/update}" method="post">


                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#update"
                                                        th:attrappend="data-target=${user.id}">Изменить</button>

                                                <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="updateLabel" aria-hidden="true"
                                                     th:attrappend="id=${user.id}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="updateLabel">Редактирование данных</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body container text-center w-50">
                                                                <div class="font-weight-bold">ID</div>
                                                                <input type="number" class="form-control form-control-sm" name="id" th:value="${user.id}" id="id" readonly><br/>
                                                                <div class="font-weight-bold">Логин</div>
                                                                <input type="text" class="form-control form-control-sm" name="name" placeholder="Логин" th:value="${user.username}" id="name"><br/>
                                                                <div class="font-weight-bold">Пароль</div>
                                                                <input type="password" class="form-control form-control-sm" name="password" placeholder="Пароль"><br/>
                                                                <div class="font-weight-bold">Возраст</div>
                                                                <input type="number" class="form-control form-control-sm" name="age" placeholder="Возраст" th:value="${user.age}" id="age">
                                                                <br/>
                                                                <div class="font-weight-bold">Полномочия</div>
                                                                <select class="custom-select" size="2" name="roleArray" multiple>
                                                                    <div th:each="role : ${roles}">
                                                                        <option th:value="${role.role}"><span th:text="${role.name}" /></option>
                                                                    </div>
                                                                </select>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                                                <button type="submit" class="btn btn-primary">Изменить</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </form>
                                            </td>
                                            <td style="width: 15%">
                                                <form th:action="@{/admin/delete}" method="get">

                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete"
                                                            th:attrappend="data-target=${user.id}">Удалить</button>

                                                    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true"
                                                         th:attrappend="id=${user.id}">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="deleteLabel">Удаление данных</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body container text-center w-50">
                                                                    <div class="font-weight-bold">ID</div>
                                                                    <input type="number" class="form-control form-control-sm" name="id" id="user-id" th:value="${user.id}" readonly><br/>
                                                                    <div class="font-weight-bold">Логин</div>
                                                                    <input type="text" class="form-control form-control-sm" name="name" placeholder="Логин" id="user-username" th:value="${user.username}" readonly><br/>
                                                                    <div class="font-weight-bold">Возраст</div>
                                                                    <input type="number" class="form-control form-control-sm" name="age" placeholder="Возраст" id="user-age" th:value="${user.age}" readonly><br/>
                                                                    <div class="font-weight-bold">Полномочия</div>
                                                                    <select class="custom-select" size="2" name="roleArray" multiple disabled>
                                                                        <div th:each="role : ${user.roles}">
                                                                            <option th:value="${role.role}"><span th:text="${role.name}" /></option>
                                                                        </div>
                                                                    </select>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                                                    <button type="submit" class="btn btn-danger">Удалить</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-adduser" role="tabpanel" aria-labelledby="nav-adduser-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mt-1 mb-1">Добавление пользователя</h5>
                                </div>
                                <div class="card-body container w-50">
                                    <div class="row justify-content-center">
                                        <form class="container text-center" style="max-width: 340px" th:action="@{/admin/add}" method="post">
                                            <div class="font-weight-bold">Логин</div>
                                            <input type="text" class="form-control form-control-sm" name="name" placeholder="Логин"><br/>
                                            <div class="font-weight-bold">Пароль</div>
                                            <input type="password" class="form-control form-control-sm" name="password" placeholder="Пароль"><br/>
                                            <div class="font-weight-bold">Возраст</div>
                                            <input type="number" class="form-control form-control-sm" name="age" placeholder="Возраст">
                                            <br/>
                                            <div class="font-weight-bold">Полномочия</div>
                                            <select class="custom-select" size="2" name="roleArray" multiple>
                                                <div th:each="role : ${roles}">
                                                    <option th:value="${role.role}"><span th:text="${role.name}" /></option>
                                                </div>
                                            </select>
                                            <br/>
                                            <br/>
                                            <button type="submit" class="btn btn-success btn-lg">Сохранить</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                <div class="container-fluid bg-light">
                    <h1 class="mt-2 mb-3">Страница пользователя</h1>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mt-1 mb-1">Пользовательские данные</h5>
                        </div>
                        <div class="card-body container-fluid">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Логин</th>
                                    <th>Возраст</th>
                                    <th>Роль</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="width: 25%" th:text="${currentUser.id}"/>
                                    <td style="width: 25%" th:text="${currentUser.username}"/>
                                    <td style="width: 25%" th:text="${currentUser.age}"/>
                                    <td style="width: 25%">
                            <span th:each="role : ${currentUser.roles}">
                                <span th:text="${role.name}"/>
                                <br/>
                            </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>