<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя <span th:text="${user.username}" th:remove="tag" /></title>
</head>
<body>
<h4>Пожалуйста, введите новые данные:</h4>
<form th:action="@{/admin/update}" method="post">
    <input type="hidden" name="id" th:value="${user.id}">

    <input type="text" name="name" th:placeholder="${user.username}">
    <br/>
    <input type="password" name="password" placeholder="Пароль">
    <br/>
    <input type="number" name="age" th:placeholder="${user.age}">
    <br/>
    <input type="checkbox" name="roleArray" value="user" th:checked="${roles.contains('ROLE_user')}">Пользователь
    <br/>
    <input type="checkbox" name="roleArray" value="admin" th:checked="${roles.contains('ROLE_admin')}">Администратор
    <br/>
    <button type="submit">Сохранить</button>
</form>
<br/>
<a th:href="@{/admin/adminPage}"><button>Вернуться на главную</button></a>
</body>
</html>