<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Страница пользователя <span th:text="${user.username}" th:remove="tag" /></title>
</head>
<body>
<table border="1" cellpadding="5">
    <thead>
    <tr>
        <th>id</th>
        <th>Логин</th>
        <th>Возраст</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text="${user.id}" /></td>
        <td><span th:text="${user.username}" /></td>
        <td><span th:text="${user.age}" /></td>
    </tr>
    </tbody>
</table>
<br/>
<a th:href="@{/logout}"><button>Выйти</button></a>
</body>
</html>